@media print {
  header,
  nav,
  footer {
    display: none !important;
  }

  main {
    padding: 0 !important;
  }

  body {
    background: white !important;
    color: black !important;
  }

  table {
    page-break-inside: avoid;
  }
}
